html, body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
    background: linear-gradient(165deg, #74ACFE, #D4C9E6, #EEE6DF);
}

.name {
	position: absolute;
	top: -70px;
	right: 4vw;
	font-size: 200px;
	font-weight: 900;
	color: transparent;
	-webkit-text-stroke: 2px #FFF;
}

.content-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	height: 100%;
}
.content-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}
.content-left .title {
	font-size: 100px;
	font-weight: 800;
	color: #FFF;
	margin-top: 12vh;
	margin-left: 5vw;
}
.content-left .title p {
	-webkit-text-stroke: 2px #FFF;
	color: transparent;
	margin: 0;
	font-size: 110px;
}
.star {
	position: absolute;
	color: #FFF;
}
.star-svg {
	width: 10px;
	height: 10px;
	transform: scale(0);
	transition: 0.2s;
}
.star-svg.active {
	transform: scale(1);
}

.contact-text, .contact-btn {
	font-size: 64px;
	font-style: italic;
	-webkit-text-stroke: 1px #FFF;
	color: transparent;
	height: 50px;
}
.first-contact {
	margin-top: 40vh;
	margin-left: 7vw;
}

.contact-btn {
	background-color: transparent;
	color: #FFF;
	font-weight: 800;
	text-decoration: none;
}
.contact-btn:hover {
	font-weight: 900;
}

.github {
	position: absolute;
	bottom: 10px;
	left: 50%;
	color: #FFF;
}

#hue {
	backdrop-filter: hue-rotate(24deg);
	-webkit-backdrop-filter: hue-rotate(24deg);
	width: 50vw;
	height: 45vh;
	position: absolute;
	top: 50px;
	right: 50px;
}