html, body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
}
#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
    background: linear-gradient(165deg, #74ACFE, #D4C9E6, #EEE6DF);
}

.name {
	position: absolute;
	top: -30px;
	right: 2vw;
	font-size: 80px;
	font-weight: 900;
	color: transparent;
	-webkit-text-stroke: 2px #FFF;
}

.content-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: 50%;
}
.content-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}
.content-left .title {
	font-size: 45px;
	font-weight: 800;
	color: #FFF;
	margin-bottom: 0vh;
	margin-left: 2vw;
}
.content-left .title p {
	-webkit-text-stroke: 1px #FFF;
	color: transparent;
	margin: 0;
	font-size: 48px;
}

.contact-text, .contact-btn {
	font-size: 30px;
	font-style: italic;
	-webkit-text-stroke: 1.5px #FFF;
	color: transparent;
	height: 25px;
}
.first-contact {
	margin-top: 0vh;
	margin-left: 18vw;
}
.contact-btn {
	background-color: transparent;
	color: #FFF;
	font-weight: 800;
	text-decoration: none;
}
.contact-btn:hover {
	font-weight: 900;
}

.github {
	position: absolute;
	bottom: 10px;
	left: 50%;
	color: #FFF;
}
.star {
	position: absolute;
	color: #FFF;
}
.star:nth-of-type(n+6) {
	display: none;
}
.star-svg {
	width: 8px;
	height: 8px;
	transform: scale(0);
	transition: 0.2s;
}
.star-svg.active {
	transform: scale(1);
}
#hue {
	backdrop-filter: hue-rotate(24deg);
	-webkit-backdrop-filter: hue-rotate(24deg);
	width: 65vw;
	height: 27vh;
	position: absolute;
	top: 20px;
	right: 20px;
}